<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <break></break>
      <div style="margin-top:50px;"></div>
      <h4>New Property</h4>
      <div style="margin-top:50px;"></div>
      <div class="row justify-content-center mb-3">
        <div class="card mb-12" style="width: 100rem;">
          <div class="card-body">
            <%= simple_form_for @property do |form| %>
              <% if property.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being
                    saved:</h2>

                  <ul>
                    <% property.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <%= form.input :address %>

              <%= form.input :city %>

              <%= form.input :state %>

              <%= form.input :zip_code %>

              <%= form.input :county %>

              <%= form.input :owner_name %>

              <%= form.input :auction_type %>

              <%= form.input :auction_date %>

              <%= form.input :auction_amount %>

              <%= form.input :arv %>

              <%= form.input :property_type %>

              <%= form.input :number_of_bedrooms %>

              <%= form.input :number_of_bathrooms %>

              <%= form.input :home_sqr_footage %>

              <%= form.input :property_sqr_footage %>

              <%= form.input :found_by %>

              <%= form.input :secondary_revision %>

              <%= form.input :type_of_loan %>

              <%= form.input :home_status, :collection => ["Negotiate Immediately", "Auction Only", "No Good"]%>

              <%= form.input :notes %>

              <%= form.input :agent %>

              <%= form.input :review_by_date %>

              <%= form.input :urgent %>

              <%= form.input :possible_phone_numbers %>

              <%= form.input :possible_address %>

              <%= form.button :submit, class: "btn-primary" %>
              <%= form.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top:50px;"></div>