<br>
<div class='nested-fields'>
  <%= f.input :name, label: "Nombre" %>
  <%= f.input :occupation, label: "Ocupacion" %>
  <%= f.input :identification, label: "Cedula" %>
  <%= f.input :age, label: "Edad" %>
  <%= f.input :phone_number, label: "Telefono" %>
</div>
<br>
<hr>
<br>