<div class="container">
  <div class="row justify-content-center">
    <div class="col-11">
      <break></break>

      <div style="margin-top:50px;"></div>

      <div class="right">
        <button class="btn btn-primary" onclick="exportTableToCSV('members.csv')">
          Exportar Excel
        </button>
      </div>

      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtrar por direccion (presionar exportar para crear documento)">

      <table id="myTable">
        <tr class="header">
          <th></th>
          <th>Direccion</th>
          <th>Nombre</th>
          <th>Cedula</th>
          <th></th>
        </tr>

        <% @properties.each do |property| %>
          <tr>
            <% if property.property.present? %>
              <td id="test">
                <%= image_tag property.property.first, height: "90", width: "120" %>
              </td>
            <% else %>
              <td id="test">
                <%= image_tag 'no_pic.png', height: "90", width: "120" %>
              </td>
            <% end %>
            <td>
              <%= property.address %>, <%= property.city %>
            </td>
            <td>
              <%= property.members&.first&.name %>
            </td>
            <td>
              <%= property.members&.first&.identification %>
            </td>
            <td id="test">
              <%= link_to 'Perfil', property, :class => "btn btn-secondary btn-sm active" %>
              <%= link_to('Archivar', archive_property_path(id: property.id), method: :post, :class => "btn btn-secondary btn-sm  btn-warning") %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    tr[i].id = "";
                } else {
                    tr[i].style.display = "none";
                    tr[i].id = "test";
                }
            }
        }
    }
</script>


<script>
    function exportTableToCSV(filename) {
        var csv = [];
        var rows = document.querySelectorAll("table tr:not([id*='test'])");

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll('td:not([id*="test"])');

            for (var j = 0; j < cols.length; j++)
                row.push(cols[j].innerText);

            csv.push(row.join(","));
        }

        // Download CSV file
        downloadCSV(csv.join("\n"), filename);
    }

    function downloadCSV(csv, filename) {
        var csvFile;
        var downloadLink;

        // CSV file
        csvFile = new Blob([csv], {type: "text/csv"});

        // Download link
        downloadLink = document.createElement("a");

        // File name
        downloadLink.download = filename;

        // Create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);

        // Hide download link
        downloadLink.style.display = "none";

        // Add the link to DOM
        document.body.appendChild(downloadLink);

        // Click download link
        downloadLink.click();
    }

</script>