<div class="container">
  <div class="row justify-content-center">
    <div class="col-11">
      <break></break>

      <div style="margin-top:50px;"></div>

      <div class="right">
        <%= link_to("Generate csv", properties_path(format: :csv), class: "btn btn-success",) %>
      </div>

      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for address...">

      <table id="myTable">
        <tr class="header">
          <th style="width:7%;"></th>
          <th style="width:15%;"></th>
          <th style="width:55%;">Address</th>
          <th style="width:15%;">Profit</th>
          <th style="width:15%;"></th>
        </tr>

        <% @properties.each do |property| %>
          <tr>
            <td>
              <div class="prop_number">
                <%= "##{property.id}" %>
              </div>
            </td>

            <% if property.property.present? %>
              <td><%= image_tag property.property.first, height: "80", width: "120" %></td>
            <% else %>
              <td><%= image_tag 'no_pic.png', height: "80", width: "120" %></td>
            <% end %>
            <td>
              <%= property.address %> <br/>
              <p id="hey"><%= property.city %>, <%= property.state %> <%= property.zip_code %>
                , <%= property.county %></p>
              <p id="hey"><%= property.auction_date.strftime("Auction on %m/%d/%Y") %></p>
            </td>
            <td><%= property.profit %></td>
            <td style='white-space: nowrap'>
              <%= link_to 'Show', property, :class => "btn btn-secondary btn-sm active" %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>