<div class="row margin1">
  <div class="col-sm-5">
    <div class="card card_space">
      <div class="card-header">
        Localidad
      </div>
      <div class="card-body">
        <h6 class="card-title bold">Direccion:</h6>
        <p class="card-text ligther"><%= @property.address %></p>
        <h6 class="card-title bold">Ciudad:</h6>
        <p class="card-text ligther"><%= @property.city %></p>
      </div>
    </div>

    <div class="card-header">
      Integrantes
    </div>
    <% @property.members.each do |member| %>
      <div class="card card_space">
        <div class="card-body">
          <h6 class="card-title bold">Nombre:</h6>
          <p class="card-text ligther"><%= member.name %></p>
          <h6 class="card-title bold">Ocupacion:</h6>
          <p class="card-text ligther"><%= member.occupation %></p>
          <h6 class="card-title bold">Identificacion:</h6>
          <p class="card-text ligther"><%= member.identification %></p>
          <h6 class="card-title bold">Edad:</h6>
          <p class="card-text ligther"><%= member.age %></p>
          <h6 class="card-title bold">Telefono:</h6>
          <p class="card-text ligther"><%= member.phone_number %></p>
        </div>
      </div>
    <% end %>


    <div class="card card_space">
      <div class="card-header">
        Notas
      </div>
      <div class="card-body">
        <p class="card-text ligther"><%= @property.notes %></p>
      </div>
    </div>

    <div class="card card_space">
      <div class="card-header">
        Creado por:
      </div>
      <div class="card-body">
        <p class="card-text ligther"><%= @nickname %></p>
      </div>
    </div>

  </div>


  <div class="col-sm-7">

    <div class="map_space">
      <iframe width="630" height="375" frameborder="" style="border:0" ,
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUrNwJQh9zL341lKAu7_uTmN2_IHTUDvE&q=Colombia, <%= @property&.city %>, <%= @property&.address %>"
              allowfullscreen>
      </iframe>
    </div>

    <% if @property.property.attached? %>
      <% @property.property.all.each do |img| %>
        <div class="pictures">
          <%= image_tag img, height: "200", width: "200" %>
        </div>
      <% end %>
    <% end %>


  </div>
</div>
</div>




<div class="text-center space">
  <%= link_to 'Edit', edit_property_path(@property), :class => "btn btn-primary btn-lg" %>
  <%= link_to('Archive', archive_property_path(@property), method: :post, :class => "btn btn-warning btn-lg") %>
  <%= link_to 'Back', properties_path, :class => "btn btn-secondary btn-lg" %>
</div>