<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @property.zip_code %>
</p>

<p>
  <strong>County:</strong>
  <%= @property.county %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @property.owner_name %>
</p>

<p>
  <strong>Auction amount:</strong>
  <%= @property.auction_amount %>
</p>

<p>
  <strong>Arv:</strong>
  <%= @property.arv %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Number of bedrooms:</strong>
  <%= @property.number_of_bedrooms %>
</p>

<p>
  <strong>Number of bathrooms:</strong>
  <%= @property.number_of_bathrooms %>
</p>

<p>
  <strong>Home sqr footage:</strong>
  <%= @property.home_sqr_footage %>
</p>

<p>
  <strong>Property sqr footage:</strong>
  <%= @property.property_sqr_footage %>
</p>

<p>
  <strong>Found by:</strong>
  <%= @property.found_by %>
</p>

<p>
  <strong>Secondary revision:</strong>
  <%= @property.secondary_revision %>
</p>

<p>
  <strong>Type of loan:</strong>
  <%= @property.type_of_loan %>
</p>

<p>
  <strong>Home status:</strong>
  <%= @property.home_status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @property.notes %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @property.agent %>
</p>

<p>
  <strong>Review by date:</strong>
  <%= @property.review_by_date %>
</p>

<p>
  <strong>Urgent:</strong>
  <%= @property.urgent %>
</p>

<p>
  <strong>Possible phone numbers:</strong>
  <%= @property.possible_phone_numbers %>
</p>

<p>
  <strong>Possible address:</strong>
  <%= @property.possible_address %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
